* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    
    border: none;
    outline: none;
  }
  body {
    background-color: #A0C4F4;
   

  }
  .wrapper {
    width: 90%;
    max-width: 30em;
    
    
    background-color: #3180E8;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 2em;
    border-radius: 0.8em;
  }

  /* .container{
    width: calc(90%+90px);
    position: relative;
    background-image: url(/assets/back.png);
  } */
  .app-details {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .app-icon {
    width: 9.37em;
  }
  .app-title {
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  label {
    display: block;
    font-weight: 600;
  }
  /* input#amount {
    font-weight: 400;
    font-size: 1.5em;
    display: block;
    width: 100%;
    padding: 0.7em;
    border-radius: 30px;
    /* border-bottom: 2px solid #02002c; */
    /* color: white; */
    /* color: black; */ 
    /* margin-bottom: 2em;
    padding: 0.5em; */
/*     
  } */

.input-with-static-text {
    position: relative;
    
}

 .input-with-static-text::before {
    content: var(--static-text,"USD");
    position: absolute;
    left: 10px;
    top: 50%;
    font-weight: 700;
    font: bold;
    font-size: 20px;
    transform: translate(20%,-50%);
    pointer-events: none;
    color: black; /* Optional: style the static text */
 } 

.input-with-static-text input {
    padding-left: 70px; /* Adjust based on the width of the static text */
    width: 90%;
    color: #02002c;
    font-weight: 500;
    font-size: 25px;
    font-weight: bold;
    padding-block: 15px;
    border-radius: 25px;
} 




input#amount:focus {
    color: black;
    border-color: #9873fe;
  }
.dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    margin-top: 10px;
  }
  select {
    width: 80%;
    padding: 0.6em;
    font-size: 1em;
    border-radius: 0.2em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 15px top 50%, center;
    background-size: 20px 20px;
    background-color: white;
    color: black;
    
  }
  select option {
    background-color: #ffffff;
    color: #02002c;
  }
  button {
    font-size: 1em;
    width: 100%;
    background-color: #CAF0F8;
    padding: 1em 0;
    margin-top: 10px;
    border-radius: 0.3em;
    color: black;
    font-weight: 600;
  }
  /* #result {
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    color: #02002c;
    background-color: white;
    padding: 0.8em 0;
    border-radius: 10px;
  } */

  .resultWithFlag{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin-top: 10px;
    padding-left: 20px;
    /* position: absolute;
    left: 50%;
    right: 50%; */
    font-size: 1.5em;
    justify-content: center;
    padding-block: 2px;
    border-radius: 30px;
  }

  .resultWithFlag .receiveStyle{
    font-size: 15px;
    float: top;
    width: 50%;
  }

  .resultWithFlag .receiveAmtStyle{
    display: flex;
    text-align: center;
    align-items: center;
    float: center;

  }

  .receiveAmtContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .resultWithFlag .indiaFlag{
    width: 50px;
    height:50px;
    border-radius: 50%;
    float: right;
  }

  .rightOfResult{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    transform: translateY(-15px);
    
  }

  .rightOfResult p{
    padding-left: 5px;
    text-align: center;
    align-items: center;
    transform: translateY(11px);
  }

  .tax-styles{
    margin-block: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    line-height: 30px;
    color: white;
  }

  .tax-styles p{
    font-weight: 500;
  }


  .groupOfElemenst{
    justify-content: space-between;
    gap: 10px;
    display: flex;
    color: white;
  }

  .groupOfElemenst img{
    width: 17px;
    height: 17px;
    margin: auto auto;
    display: block;
  }


  .red-line{
    width: 100%;
    height: 2px;
    background-color: white;
    align-items: flex-start;
    transform: translateY(-5px);
  }

  .resultWithFlag .rupeeImg{
    margin-right: -2px;
  }


  /* ////////// */

  .currency-select {
    display: flex;
    align-items: center;
}
.currency-select img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.dropdown-wrapper {
    display: flex;
    flex-direction: column;
}

select.round {
  
  padding-block: 20px;
  
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  margin-block: 20px;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

#from-currency-select{
  border-radius: 25px;
  padding: 0.7em;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  display: flex;
  transform: translate(5%);
  font-size: 1.5em;

  text-align-last: center; 
  -moz-text-align-last: center;            
}
